@model NotificationViewModel
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="~/AdminLayout/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Makaan</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            @if (ViewBag.UserRole == "Admin")
            {
                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        @if (ViewBag.NotificationCount > 0)
                        {
                            <span class="badge bg-primary badge-number">@ViewBag.NotificationCount</span>
                        }
                    </a><!-- End Notification Icon -->


                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        @if (ViewBag.NotificationCount == 0)
                        {
                            <li class="dropdown-header text-center">
                                <span class="mx-5">Yeni Bildiriminiz Bulunmamaktadır</span>
                            </li>
                        }
                        @if (ViewBag.NotificationCount > 0)
                        {
                            <li class="dropdown-header text-center">
                                <span class="mx-5">@ViewBag.NotificationCount Yeni Bildiriminiz Var</span>
                            </li>
                        }

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        @{
                            //Son 3 Yorum Bildirimi
                            var lastThreeCommentNotification = Model.CommentNotifications.TakeLast(3);
                            foreach (var item in lastThreeCommentNotification)
                            {
                                <li class="notification-item">
                                    <i class="bi bi-exclamation-circle text-warning"></i>
                                    <div>

                                        <h4>
                                            @(item.Content.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content)
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }

                            //Son 3 Basvuru Bildirimi
                            var lastThreeApplicationNotification = Model.ApplicationNotifications.TakeLast(3);
                            foreach (var item in lastThreeApplicationNotification)
                            {
                                <li class="notification-item">
                                    <i class="bi bi-exclamation-circle text-warning"></i>
                                    <div>

                                        <h4>
                                            @(item.Content.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content)
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }

                        }

                        @if (ViewBag.NotificationCount > 0)
                        {
                            <li class="dropdown-footer">
                                <a href="/Admin/Notification">Tümünü Görüntüle</a>
                            </li>
                        }
                    </ul>
                    <!-- End Notification Dropdown Items -->

                </li>


            }
            <!-- End Notification Nav -->
            @if (ViewBag.UserRole == "EstateAgent")
            {
                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        @if (Model.AccountNotifications.Count > 0)
                        {
                            <span class="badge bg-primary badge-number">@Model.AccountNotifications.Count</span>
                        }
                    </a><!-- End Notification Icon -->


                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        @if (Model.AccountNotifications.Count == 0)
                        {
                            <li class="dropdown-header text-center">
                                <span class="mx-5">Yeni Bildiriminiz Bulunmamaktadır</span>
                            </li>
                        }
                        @if (Model.AccountNotifications.Count > 0)
                        {
                            <li class="dropdown-header text-center">
                                <span class="mx-5">@Model.AccountNotifications.Count Yeni Bildiriminiz Var</span>
                            </li>
                        }

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        @{
                            //Son 3 Yorum Bildirimi
                            var lastThreeAccountNotification = Model.AccountNotifications.TakeLast(3);
                            foreach (var item in lastThreeAccountNotification)
                            {
                                <li class="notification-item">
                                    <i class="bi bi-exclamation-circle text-warning"></i>
                                    <div>

                                        <h4>
                                            @(item.Content.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content)
                                        </h4>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }



                        }

                        @if (Model.AccountNotifications.Count > 0)
                        {
                            <li class="dropdown-footer">
                                <a href="/Admin/Notification">Tümünü Görüntüle</a>
                            </li>
                        }
                    </ul>
                    <!-- End Notification Dropdown Items -->

                </li>


            }
            <!-- End Notification Nav -->
            @if (ViewBag.UserRole == "Admin")
            {
                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        @if (ViewBag.adminMessagesCount != 0)
                        {
                            <span class="badge bg-success badge-number">

                                @ViewBag.adminMessagesCount

                            </span>
                        }
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            @if (ViewBag.adminMessagesCount == 0)
                            {
                                <span class="mx-5">Yeni Mesaıjınız Yok</span>
                            }
                            @if (ViewBag.adminMessagesCount != 0)
                            {
                                <span class="mx-5">@ViewBag.adminMessagesCount Yeni Mesaıjınız Var</span>

                            }

                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        @{
                            var lastThreeReceivedMessage = Model.resultReceivedMessageDtos.OrderByDescending(x => x.ReceivedMessageId).Take(3);
                            @foreach (var item in lastThreeReceivedMessage)
                            {


                                <li class="message-item">
                                    <a href="#">
                                        <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                        <div>
                                            <p>@item.Subject</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }
                        }


                        @if (ViewBag.adminMessagesCount != 0)
                        {
                            <li class="dropdown-footer">
                                <a href="/Admin/ReceivedMessage">Tümünü Görüntüle</a>
                            </li>
                        }
                    </ul><!-- End Messages Dropdown Items -->

                </li>


            }
            <!-- End Messages Nav -->
            @if (ViewBag.UserRole != "Admin")
            {
                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        @if (ViewBag.MessagesCount != 0)
                        {
                            <span class="badge bg-success badge-number">

                                @ViewBag.MessagesCount

                            </span>
                        }
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            @if (ViewBag.MessagesCount == 0)
                            {
                                <span class="mx-5">Yeni Mesaıjınız Yok</span>
                            }
                            @if (ViewBag.MessagesCount != 0)
                            {
                                <span class="mx-5">@ViewBag.MessagesCount Yeni Mesaıjınız Var</span>

                            }

                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        @{
                            var lastThreeSenderedMessage = Model.resultSenderedMessageDtos.OrderByDescending(x => x.SenderedMessageId).Take(3);
                            @foreach (var item in lastThreeSenderedMessage)
                            {


                                <li class="message-item">
                                    <a href="#">
                                        <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                        <div>
                                            <p>@item.Subject</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }
                        }


                        @if (ViewBag.MessagesCount != 0)
                        {
                            <li class="dropdown-footer">
                                <a href="/Admin/SenderedMessage">Tümünü Görüntüle</a>
                            </li>
                        }
                    </ul><!-- End Messages Dropdown Items -->

                </li>


            }
            <!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="~/AdminLayout/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">@ViewBag.UserEmail</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>@ViewBag.UserEmail</h6>
                        <span>@ViewBag.UserName</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @if (ViewBag.UserRole == "Admin")
                    {
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Admin/Profile">
                                <i class="bi bi-person"></i>
                                <span>Profilim</span>
                            </a>
                        </li>
                    }
                    
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                                       
                   
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/SignOut/Index">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Çıkış Yap</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header>