@model List<ResultContactDto>
@{
    ViewData["Title"] = "Emlak Ajansları";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
    int count = 0;
}

<section class="section py-5" style="background-color: #f4f5f7;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-dark fw-bold">İletişim Bilgileri</h1>

            @if (Model == null)
            {
                <a href="/Admin/Contact/CreateContact" class="btn btn-primary shadow-sm">
                    <i class="bi bi-plus-circle"></i> Yeni İletişim Bilgisi Ekle
                </a>
            }

        </div>

        <div class="table-responsive rounded shadow-sm bg-white p-4">
            <table class="table align-middle">
                <thead class="table-light">
                    <tr class="text-center">
                        <th scope="col" class="col-1">#</th>

                        <th scope="col" class="col-2">Adres</th>
                        <th scope="col" class="col-2">Email</th>
                        <th scope="col" class="col-2">Telefon</th>
                        <th scope="col" class="col-3">Giriş Posteri</th>
                        <th scope="col" class="col-1">Sil</th>
                        <th scope="col" class="col-1">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr class="text-center">
                            <td class="col-1">@count</td>
                            <td class="col-2">@item.Location</td>
                            <td class="col-2">@item.Email</td>
                            <td class="col-2">@item.Phone</td>
                            <td class="col-3">
                                <img src="@item.IntroPosterUrl" class="rounded" style="width: 150px; height: 100px; object-fit: cover;" />
                            </td>
                            <td class="col-1">
                                <!-- Sil Butonu -->
                                <a href="/Admin/Contact/DeleteContact?id=@item.ContactId">
                                    <i class="bi bi-trash fs-4 text-danger"></i>
                                </a>
                            </td>
                            <td class="col-1">
                                <!-- Güncelle Butonu -->
                                <a href="/Admin/Contact/UpdateContact/@item.ContactId">
                                    <i class="bi bi-pencil-square fs-4 text-success"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
